src/main/mule/send-xlsx.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="55cf5e0a-1ed1-4ead-a8f6-f7192b53aed0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="send-xlsxFlow" doc:id="de99d231-056f-4a9f-ad35-9a5904e5310b" >
		<http:listener doc:name="Listener" doc:id="9d3fa975-af71-483b-867b-5752662a80d3" config-ref="HTTP_Listener_config" path="send-xlsx"/>
		<set-variable value="#[attributes.queryParamDataFormat]" doc:name="save query parameter as variable " doc:id="cea5990c-1e69-4653-983c-9d36c853d17e" variableName="queryParamDataFormat"/>
		<set-variable value="#[attributes.headers.'content-type']" doc:name=" save header content types as variable" doc:id="68ec3d19-2bef-4365-98b1-910c2f5880e5" variableName="headerDataFormat"/>
		<ee:transform doc:name="Transform Message" doc:id="232619de-25e7-464f-99a8-1464e91d7fc2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requested_format" ><![CDATA[%dw 2.0
output application/json
---
 if (isEmpty(vars.queryParamDataFormat) == true)
   splitBy(vars.headerDataFormat, '/')[1]
else
   vars.queryParamDataFormat

]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:read doc:name="Read xlsx data" doc:id="1e15a2b6-f482-4400-96ae-e9d40ebd6225" path="D:\airports.xlsx" outputMimeType="application/xlsx"/>
		<choice doc:name="Choice" doc:id="665d30cc-bda6-4d87-92e6-7fab3b164424" >
			<when expression="#[vars.requested_format == 'csv']">
				<ee:transform doc:name="Transform Message" doc:id="302912b3-1732-41c6-8055-0d7c0b5c8582" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/CSV
---
payload.airports]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.requested_format == 'xml']">
				<ee:transform doc:name="Transform Message" doc:id="7c7e6e72-fdcc-443a-a9a5-9e0a26c31cfc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	'airports':
	    {
	    	"data": payload.airports
	    }
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.requested_format == 'json']">
				<ee:transform doc:name="Transform Message" doc:id="56646e08-87fb-40d8-834f-ccb61ab10d05" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.airports]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[isEmpty(vars.requested_format)]">
				<ee:transform doc:name="Transform Message" doc:id="e1de7d7d-88a7-4b82-8439-c73ab73b66e6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.airports]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="8143b4a0-b8de-4cee-ac36-7f9d66cbf809" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"message": vars.requested_format default " " ++ " is not supported data format!"
  }
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
